/*-------------------------------- Admin main --------------------------------*/
/* RTL: https://rtlcss.com/playground/index.html or https://cssjanus.github.io/ */
.brb-admin #wpcontent {
    padding: 0;
}

.rich-plugins_page_brb-builder #wpcontent,
.brb-admin.rich-plugins_page_brb-builder #wpcontent {
    padding-left: 300px;
}

.toplevel_page_brb .wp-menu-image img {
    width: 18px;
}

.brb-admin.edit-php #wpbody {
    color: #5d6f80;
    padding-right: 20px;
    position: relative;
}

.brb-admin .update-nag {
    margin: 20px 20px 0 0;
}

.brb-admin.edit-php .update-nag {
    margin: 20px 0 0 20px;
}

.brb-admin.edit-php .update-nag ~ .update-nag {
    margin-right: 0;
}

.brb-tophead {
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -webkit-box-sizing: border-box;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #cfd9db;
    padding: 15px 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    top: 46px;
    width: 100%;
}

@media (min-width: 601px) {
    .brb-tophead {
        -ms-flex-align: stretch;
        -webkit-align-items: stretch;
        -webkit-box-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        top: 0;
    }
}

.brb-tophead img {
    width: 32px;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

.brb-tophead-title {
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
}

.brb-page-title {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
    padding: 20px 20px 0 0;
    line-height: 29px;
}

.brb-admin #wpbody #screen-meta-links {
    display:none
}

.brb-admin #screen-meta {
    background-color: #ecf0f1;
    border: 0;
    margin: 0;
}

.brb-admin #screen-meta-links {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.brb-admin.edit-php     #wpbody .wp-header-end,
.brb-admin.post-new-php #wpbody .wp-header-end,
.brb-admin.post-php     #wpbody .wp-header-end {
    margin-top: 6px;
}

.brb_shortcode {
    position: relative;
}

.brb_shortcode small {
    visibility: hidden;
    position: absolute;
    right: 12px;
    bottom: 0;
    opacity: 1;
    color: #12a908;
}

.brb_shortcode small.brb_hide {
  visibility: visible;
  opacity: 0;
  transition: opacity 3s linear;
}

.brb-toolbar {
    padding: 15px 20px;
    background-color: #fff;
    /*border-bottom: 1px solid #cfd9db;*/
}

@media (min-width: 783px) {
    .brb-toolbar {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.brb-toolbar-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 0;
    margin-left: 20px;
    min-width: 0;
}

.brb-toolbar-title-input {
    background-color: transparent!important;
    border: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    width: 100%;
}

.brb-toolbar-title-input {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
}

.brb-toolbar-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.brb-toolbar-control button {
    margin-right: 20px!important;
}

.brb-toolbar-control input[type="text"] {
    width: 200px;
    height: 34px;
    font-size: 14px;
}

.brb-toolbar-options label {
    display: block;
    padding: 0 4px 0 0;
}

.brb-toolbar-devices {
    margin-right: 20px;
    line-height: 35px;
}

.brb-toolbar-devices svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.brb-toolbar-devices svg path {
    fill: #999;
}

.brb-toolbar-devices svg:hover path {
    fill: #333;
}

/* hide post content (json) in title column */
.brb-admin .type-brb_collection .title.column-title {
    font-size: 0;
}
.brb-admin .type-brb_collection .title.column-title strong,
.brb-admin .type-brb_collection .title.column-title .row-actions {
    line-height: 1.5em;
}

.brb-builder-workspace {
    display: block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.brb-builder-preview {
    font-size: 16px;
    grid-area: preview;
    min-height: 0;
    min-width: 0;
    padding: 16px 16px 0 16px;
    line-height: 1.75;
    background: #f0f0f1;
}

#brb_builder_size {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 4px;
    font-weight: bold;
    z-index: 1;
}

/*.brb-builder-preview r-p {
    padding: 20px;
}*/

#brb_collection_preview {
    width: auto;
    margin: auto;
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
}

.brb-builder-option {
    box-sizing: border-box;
    position: fixed;
    top: 32px;
    bottom: 0;
    left: 0;
    width: 300px;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 1;
    overflow-y: scroll;
    background: #fafafa;
}

.nav-tab.nav-tab-active {
    box-shadow: none;
    background: #fff;
    border-bottom-color: #fff;
}

.brb-settings-workspace {
    font-size: 14px;
    margin: 20px;
    padding: 20px;
    background: #fff;
}

.brb-settings-workspace p {
    font-size: 14px;
}

.brb-field,
.brb-field * {
    box-sizing: border-box;
}

.brb-field {
    padding: 0 0 15px 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #ddd;
}

@media (min-width: 600px) {
    .brb-field {
        display: flex;
        flex-wrap: wrap;
    }
    .brb-field-label {
        flex: 0 0 25%;
        padding-left: 4%;
    }
    .brb-field-option {
        flex: 0 0 75%;
    }
}

.brb-field input[type="text"] {
    margin: 0;
    padding: 5px 8px;
    border-radius: 2px;
}

.brb-field select {
    width: 15em;
    margin-right: 0;
}

.brb-alert {
    font-size: 14px;
    line-height: 1.846;
    border: none;
    color: #fff;
    padding: 15px;
    margin-bottom: 23px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.brb-alert-dismissable,
.brb-alert-dismissible {
    padding-left: 35px;
}

.brb-alert-success {
    color: #fff;
    border-color: #d6e9c6;
    background-color: #4caf50;
}

.brb-alert-warning {
    background-color: #a22525;
}

.brb-alert a:not(.close),
.brb-alert .alert-link {
    color: #fff;
    font-weight: bold;
}

.brb-settings-workspace .brb-alert {
    max-width: 500px;
    word-wrap: break-word;
}

.brb-flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.brb-flex-col,
.brb-flex-col3 {
    box-sizing: border-box;
}

.brb-flex-col:first-child,
.brb-flex-col3:first-child {
    padding-left: 10px;
}

@media (min-width: 700px) {
    .brb-flex-col {
        width: 50%;
    }
    .brb-flex-col3 {
        width: 33.3%;
    }
}

.brb-support-question {
    padding-bottom: 10px;
}

/*-------------------------------- Flex row/col --------------------------------*/
.brb-flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.brb-flex-col,
.brb-flex-col2,
.brb-flex-col3,
.brb-flex-col4,
.brb-flex-col6,
.brb-flex-col7 {
    width: 100%;
    box-sizing: border-box;
}

.brb-flex-col:first-child,
.brb-flex-col3:first-child,
.brb-flex-col6:first-child,
.brb-flex-col3 + .brb-flex-col3 {
    padding-left: 10px;
}

@media (min-width: 800px) {
    .brb-flex-col {
        width: 50%;
    }
    .brb-flex-col2 {
        width: 25%;
    }
    .brb-flex-col3 {
        width: 30%;
    }
    .brb-flex-col4 {
        width: 40%;
    }
    .brb-flex-col6 {
        width: 60%;
    }
    .brb-flex-col7 {
        width: 70%;
    }
}

/*-------------------------------- Collection builder --------------------------------*/
.rplg-builder-platform {
    position: relative;
    box-sizing: border-box;
}

.rplg-builder-platform.rplg-error .rplg-builder-top:after,
.rplg-builder-connect.rplg-connect-business.rplg-error:after {
    content: '⚠';
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #f71515;
}

.rplg-builder-connect.rplg-connect-business.rplg-error {
    border: 1px solid #f90000;
}

.rplg-platform-google .rplg-builder-top {
    color: #e7711b;
}

.rplg-platform-facebook .rplg-builder-top {
    color: #3c5b9b;
}

.rplg-platform-yelp .rplg-builder-top {
    color: #d32323;
}

.rplg-builder-top {
    padding: 10px;
    color: #23282d;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4em;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fafafa url('../img/button-down-black.svg') no-repeat left;
}

.rplg-builder-top:hover {
    border-color: #999;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.rplg-builder-inside {
    border-top: none;
    padding: 10px 10px 10px;
    line-height: 16px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
}

.rplg-builder-inside .rplg-builder-option.rplg-error {
    padding: 10px;
    color: #f00;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #eee;
    line-break: anywhere;
}

.rplg-builder-inside .rplg-builder-option {
    margin: 10px 0 0;
    position: relative;
    user-select: none;
}

.rplg-builder-inside .rplg-builder-option:first-child {
    margin-top: 0;
}

.rplg-builder-inside input[type="text"],
.rplg-builder-inside input[type="range"],
.rplg-builder-inside select,
.rplg-builder-inside button,
.rplg-builder-inside textarea {
    width: 100%;
    clear: both;
    border-spacing: 0;
}

.rplg-builder-inside input[type="range"] {
    cursor: pointer;
    margin: 6px 0 16px;
}

.rplg-builder-inside .rplg-slider-br input[type="range"] {
    cursor: pointer;
    margin: 6px 0 8px;
}

.rplg-builder-inside input[type="range"]::after/*,
.rplg-builder-inside input[type="color"]::after*/ {
    content: attr(data-val);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 12px;
}

.rplg-builder-inside input[type="color"] {
    cursor: pointer;
    vertical-align: middle;
}

.rplg-builder-inside input[type="color"] + input[type="text"] {
    padding: 0;
    margin: 0 0 0 2px;
    width: 52px;
    height: 18px;
    min-height: 0;
    font-size: 12px;
    border-color: #fff;
    vertical-align: middle;
}

.rplg-builder-inside pre {
    margin: 0;
    color: #b73434;
    font-size: 10px;
    line-height: 16px;
    padding: 4px;
    background: #fff;
    overflow: auto;
}

.rplg-slider-br {
    display: flex;
    position: relative;
    padding: 10px 0 0 20px;
}

.rplg-slider-br input {
    width: 100%;
}

.rplg-slider-br .rplg-quest {
    top: 9px;
    left: 0;
    font-size: 16px;
    height: 16px;
    line-height: 12px;
    user-select: none;
}

.rplg-builder-connect {
    margin: 0;
    padding: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    background: #eee;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    background: #fafafa url('../img/button-down-black.svg') no-repeat left;
}

.rplg-builder-connect:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 3px 5px rgba(0, 0, 0, .24);
}

.rplg-builder-connect:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 0px 1px rgba(0, 0, 0, .24);
}

.rplg-builder-connect.rplg-connect-google {
    background: #ef6c00;
}

.rplg-builder-connect.rplg-connect-facebook {
    background: #3c5b9b;
    margin: 10px 0;
}

.rplg-builder-connect.rplg-connect-yelp {
    background: #d32323;
}

.rplg-connection {
    cursor: move;
    position: relative;
}

.rplg-connection svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin: 0 0 0 4px;
}

.rplg-connection[data-platform="facebook"] svg {
    width: 12px;
    height: 12px;
    padding: 2px;
    border-radius: 50%;
    background-color: #3c5b9b;
}

.rplg-connect-business {
    color: #333;
    text-align: right;
    margin: 10px 0 0;
    border: 1px solid #ccc;
}

.rplg-connect-business > span {
    margin: 0 0 0 4px;
    vertical-align: middle;
}

.rplg-connect-business + div {
    padding: 4px;
    border: 1px solid rgb(204, 204, 204);
    border-top: 0;
}

.rplg-connect-select {
    display: inline-block!important;
}

.rplg-connect-photo {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid #ccc;
    vertical-align: middle;
}

.rplg-connect-photo-change {
    margin-left: 10px
}

.rplg-connect-error {
  color: #e60909;
  font-size: 13px;
}

.rplg-quest {
    position: absolute;
    top: 6px;
    left: 3px;
    width: 16px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    background: #eee;
}

.rplg-quest.rplg-quest-top {
    top: 0;
}

.rplg-quest.rplg-quest-top-2 {
    top: -2px;
}

.rplg-quest.rplg-quest-top22 {
    top: 22px;
}

.rplg-quest:hover {
    border: 1px solid #999;
}

.rplg-quest-help {
    display: none;
    margin: 0 0 10px 0;
    padding: 4px;
    font-size: 13px;
    line-height: 18px;
    background: #eee;
}

.rplg-well {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    background: #f1f1f1;
}

#rating_temp,
#review_temp {
    height: 260px;
    font-size: 12px;
    word-break: break-all;
}

/*-------------------------------- Overview page --------------------------------*/
.rpi-overview {
    padding: 16px 16px 0;
}

.rpi-overview .rpi-stat-box-inner {
    background: #ffffff;
}

.w3-inline {
    width: auto!important;
}

.w3-bold {
    font-weight: bold;
}

.w3-padding-white {
    padding: 16px;
    background: #fff;
}

.rpi-reviews-conf {
    opacity: .75;
}

.rpi-reviews-conf:hover {
    opacity: 1;
}

.rpi-reply-btn {
    color: #154fc1;
    font-weight: 600;
    cursor: pointer;
}

.grw-overview-workspace {
    position: relative;
    font-size: 14px;
    margin: 20px;
}

.grw-overview-places {
    position: absolute;
    top: -50px;
    left: 0;
}

#grw-overview-rating {
    font-size: 15px;
}

#grw-overview-rating .wp-star svg {
    vertical-align: middle;
}

.grw-overview-h {
    margin: 0 0 6px;
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

#grw-overview-stats > div {
    line-height: 32px;
}

.grw-stat-val {
    float: left;
    color: #29af4c;
    font-size: 18px;
    font-weight: 600;
}

.grw-stat-val.grw-stat-up {
    color: #29af4c;
}

.grw-stat-val.grw-stat-down {
    color: #e94135;
}

.grw-stat-val:after {
    position: absolute;
    left: 6px;
    font-size: 16px
}

.grw-stat-val.grw-stat-up:after {
    content: '⇧';
}

.grw-stat-val.grw-stat-down:after {
    content: '⇩';
}

.grw-card {
    margin: 0;
    padding: 0;
    color: #36476c;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    position: relative;
    background: #fff;
    border-radius: 0px;
}

.grw-card-bordered {
    border: 0;
    border-radius: 10px;
}

.grw-card-body {
    padding: 16px;
}

.grw-card-fh {
    max-height: 500px;
    overflow-y: auto;
}

.grw-card-header {
    font-size: 15px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #f6f7fa;
}

.grw-shadow {
    border-radius: 10px;
    box-shadow: 0 4px 4px rgb(54 71 108 / 15%);
}