/*-------------------------------- reset --------------------------------*/
.rplg {
    box-sizing: border-box!important;
    font-size: 16px!important;
    line-height: normal;
}

.rplg *,
.rplg *:before,
.rplg *:after {
    box-sizing: inherit!important;
}

.rplg a,
.rplg p,
.rplg div,
.rplg span,
.rplg button {
    margin: 0;
    padding: 0;
    border: 0!important;
    font-size: 100%!important;
    font: inherit!important;
    vertical-align: baseline!important;
}

.rplg a {
    box-shadow: none!important;
    text-align: left;
}

.rplg ol,
.rplg ul {
    list-style: none!important;
}

.rplg img {
    max-width: 100%!important;
    height: auto!important;
}

/*-------------------------------- common --------------------------------*/
.rplg .rplg-hr {
    margin: 10px 0!important;
    border-top: 1px solid #ddd!important;
    border-bottom: 1px solid #fff!important;
}

.rplg .rplg-hr2 {
    margin: 15px 0!important;
    border-top: 1px solid #ddd!important;
    border-bottom: 1px solid #fff!important;
}

.rplg .rplg-hr-fancy {
    border: 0!important;
    height: 1px!important;
    margin: 20px 0!important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%)!important;
}

.rplg .rplg-more,
.rplg .rplg-hide {
    display: none!important;
}

.rplg .rplg-more-toggle {
    color: #136aaf!important;
    cursor: pointer!important;
    text-decoration: underline!important;
}

.rplg .rplg-url {
    display: block;
    margin: 10px 0!important;
    color: #2c7cff!important;
    text-align: center!important;
    box-shadow: none!important;
    outline: none!important;
}

.rplg .rplg-trim {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

.rplg .rplg-star {
    padding: 0 4px 0 0!important;
    line-height: 22px!important;
}

.rplg .rplg-stars {
    display: inline-block!important;
}

.rplg .rplg-stars svg {
    display: inline-block!important;
    width: 18px!important;
    height: 18px!important;
    margin: 0 4px 0 0!important;
    vertical-align: middle!important;
}

.rplg .rplg-row {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.rplg .rplg-row.rplg-row-start {
    -webkit-box-align: start!important;
    -webkit-align-items: start!important;
    -ms-flex-align: start!important;
    align-items: start!important;
}

.rplg-row .rplg-row-left {
    position: relative!important;
    -webkit-flex-basis: auto!important;
    -ms-flex-preferred-size: auto!important;
    flex-basis: auto!important;
    -webkit-flex-shrink: 0!important;
    -ms-flex-negative: 0!important;
    flex-shrink: 0!important;
}

.rplg-row .rplg-row-right {
    -webkit-box-flex: 1!important;
    -webkit-flex-grow: 1!important;
    -ms-flex-positive: 1!important;
    flex-grow: 1!important;
    overflow: hidden!important;
    text-align: left!important;
    line-height: 24px!important;
}

.rplg-links a,
.rplg-links a:focus {
    display: inline-block;
    font-size: 14px!important;
    margin: 0 10px 0 0!important;
    box-shadow: none !important;
    text-decoration: none !important;
}

/*-------------------------------- yelp stars --------------------------------*/
.rplg .rplg-stars[data-info*="yelp"] svg {
    padding: 3px;
    border-radius: 3px;
}
.rplg .rplg-stars[data-info*="5,yelp"] svg {
    background: #fb433c;
}
.rplg .rplg-stars[data-info*="4,yelp"] svg {
    background: #ff643d;
}
.rplg .rplg-stars[data-info*="4.5,yelp"] svg:nth-child(5) {
    background: linear-gradient(90deg, #ff643d 50%, #bbbac0 50%);
}
.rplg .rplg-stars[data-info*="3,yelp"] svg,
.rplg .rplg-stars[data-info*="3.5,yelp"] svg {
    background: #ff8742;
}
.rplg .rplg-stars[data-info*="3.5,yelp"] svg:nth-child(5) {
    background: #bbbac0;
}
.rplg .rplg-stars[data-info*="3.5,yelp"] svg:nth-child(4) {
    background: linear-gradient(90deg, #ff8742 50%, #bbbac0 50%);
}
.rplg .rplg-stars[data-info*="4,yelp"] svg:nth-child(5),
.rplg .rplg-stars[data-info*="3,yelp"] svg:nth-child(5),
.rplg .rplg-stars[data-info*="3,yelp"] svg:nth-child(4),
.rplg .rplg-stars[data-info*="2,yelp"] svg,
.rplg .rplg-stars[data-info*="2.5,yelp"] svg,
.rplg .rplg-stars[data-info*="1,yelp"] svg,
.rplg .rplg-stars[data-info*="1.5,yelp"] svg {
    background: #bbbac0;
}
.rplg .rplg-stars[data-info*="2,yelp"] svg:nth-child(1),
.rplg .rplg-stars[data-info*="2,yelp"] svg:nth-child(2),
.rplg .rplg-stars[data-info*="2.5,yelp"] svg:nth-child(1),
.rplg .rplg-stars[data-info*="2.5,yelp"] svg:nth-child(2) {
    background: #ffad48;
}
.rplg .rplg-stars[data-info*="2.5,yelp"] svg:nth-child(3) {
    background: linear-gradient(90deg, #ffad48 50%, #bbbac0 50%);
}
.rplg .rplg-stars[data-info*="1,yelp"] svg:nth-child(1),
.rplg .rplg-stars[data-info*="1.5,yelp"] svg:nth-child(1) {
    background: #ffcc4b;
}
.rplg .rplg-stars[data-info*="1.5,yelp"] svg:nth-child(2) {
    background: linear-gradient(90deg, #ffcc4b 50%, #bbbac0 50%);
}

/*-------------------------------- rich review --------------------------------*/
.rplg .rplg-box {
    position: relative!important;
    margin: 2px!important;
    color: #777!important;
    border: 1px solid #ededed!important;
    background-color: #fafafa!important;
    border-radius: 4px!important;
}

.rplg .rplg-box-tiny {
    position: relative!important;
    margin: 2px!important;
    color: #777!important;
}

.rplg-box .rplg-box-content {
    position: static!important;
    height: 100px!important;
    overflow-y: auto!important;
    font-size: 14px!important;
    text-align: left!important;
    padding: 0 2px 0 0!important;
}

.rplg-box .rplg-box-content::-webkit-scrollbar {
    width: 4px!important;
}

.rplg-box .rplg-box-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
    -webkit-border-radius: 4px!important;
    border-radius: 4px!important;
}

.rplg-box .rplg-box-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    background: #ccc!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)!important;
}

.rplg-box .rplg-box-content::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc!important;
}

.rplg .rplg-review-avatar {
    display: block!important;
    width: 56px!important;
    height: 56px!important;
    font-style: italic!important;
    padding: 0!important;
    margin: 0 10px 0 0!important;
    border-radius: 50%!important;
    vertical-align: middle!important;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)!important;
}

.rplg .rplg-review-name {
    display: block!important;
    font-size: 100%!important;
    font-weight: bold!important;
    color: #154fc1!important;
    text-decoration: none!important;
    box-shadow: none!important;
}

.rplg .rplg-review-text {
    color: #333!important;
    line-height: 24px!important;
    font-size: 14px!important;
}

.rplg .rplg-review-time {
    display: block!important;
    color: #555!important;
    font-size: 13px!important;
    text-shadow: 1px 1px 0 #fff!important;
}

.rplg .rplg-dark .rplg-review-time {
    text-shadow: none!important;
}

.rplg .rplg-review-badge {
    top: 12px!important;
    right: 12px!important;
    position: absolute!important;
    background-color: inherit!important;
}

.rplg .rplg-social-logo svg {
    width: 20px!important;
    height: 20px!important;
    background: transparent!important;
    border-radius: 50%!important;
}

.rplg .rplg-social-logo.rplg-facebook-logo svg {
    width: 20px!important;
    height: 20px!important;
    padding: 2px!important;
    background-color: #3c5b9b!important;
}

/*-------------------------------- slider --------------------------------*/
.rplg-slider {
    position: relative
}

.rplg-slider .rplg-slider-prev,
.rplg-slider .rplg-slider-next {
    position: absolute!important;
    top: 50%!important;
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    margin-top: -22px!important;
    z-index: 10!important;
    cursor: pointer!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
}

.rplg-slider .rplg-slider-prev {
    left: -35px!important;
}

.rplg-slider .rplg-slider-next {
    right: -35px!important;
}

.rplg-slider .rplg-slider-prev span,
.rplg-slider .rplg-slider-next span {
    position: absolute!important;
    top: 48%!important;
    left: 40%!important;
    color: #777!important;
    direction: ltr!important;
    font: normal 300 28px / 0 "Muli",Helvetica,Arial,Verdana,sans-serif!important;
}

.rplg-slider .rplg-slider-review {
    margin: 20px 0 40px!important;
}

.rplg-slider .rplg-box:before {
    position: absolute!important;
    bottom: -8px!important;
    left: 35px!important;
    display: block!important;
    width: 14px!important;
    height: 14px!important;
    border: 1px solid #ededed!important;
    border-top: none!important;
    border-left: none!important;
    background-color: #fafafa!important;
    content: ""!important;
    -webkit-transform: rotate(45deg)!important;
    -ms-transform: rotate(45deg)!important;
    transform: rotate(45deg)!important;
}

.rplg-slider .rplg-box .rplg-box-content {
    height: 150px!important;
    margin: 20px 20px 20px 40px!important;
    background-color: inherit!important;
}

.rplg-slider .rplg-box .rplg-box-content:before {
    bottom: 47px!important;
    box-sizing: border-box!important;
    color: #bbb!important;
    content: '\201C'!important;
    display: block!important;
    height: 96px!important;
    left: 50px!important;
    position: absolute!important;
    right: 515.391px!important;
    text-size-adjust: 100%!important;
    top: 20px!important;
    width: 24.6094px!important;
    column-rule-color: #bbb!important;
    perspective-origin: 12.2969px 48px!important;
    transform-origin: 12.2969px 48px!important;
    border: 0 none #bbb!important;
    font: normal normal normal normal 60px / 96px Georgia,serif!important;
    margin: -25px 0 0 -40px!important;
    outline: #bbb none 0!important;
}

.rplg-slider .rplg-stars {
    display: inline-block!important;
    margin-right: 4px!important;
}

.rplg-slider .rplg-row {
    margin: 0!important;
    padding: 20px!important;
}

/*-------------------------------- grid --------------------------------*/
.rplg-grid .rplg-grid-row {
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-flex-flow: row wrap!important;
    -ms-flex-flow: row wrap!important;
    flex-flow: row wrap!important;
    margin: 0 auto!important;
    -webkit-align-items: stretch!important;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}

/*@media (min-width: 840px) {
    .rplg-grid {
        padding: 8px!important;
    }
}*/

.rplg-grid .rplg-col {
    box-sizing: border-box!important;
}

.rplg-grid .rplg-col-6 {
    margin: 0 4px 8px 4px!important;
    width: calc(50% - 8px)!important;
}

@media (min-width: 840px) {
    .rplg-grid .rplg-col-12 {
        margin: 0 6px 12px 6px!important;
        width: calc(100% - 12px)!important;
    }

    .rplg-grid .rplg-col-4 {
        margin: 0 6px 12px 6px!important;
        width: calc(25% - 12px)!important;
    }

    .rplg-grid .rplg-col-3 {
        margin: 0 6px 12px 6px!important;
        width: calc(33.3333333333% - 12px)!important;
    }

    .rplg-grid .rplg-col-2 {
        margin: 0 6px 12px 6px!important;
        width: calc(50% - 12px)!important;
    }
}

@media (max-width: 839px) and (min-width: 480px) {
    .rplg-grid .rplg-col-12 {
        margin: 0 4px 8px 4px!important;
        width: calc(100% - 12px)!important;
    }

    .rplg-grid .rplg-col-4,
    .rplg-grid .rplg-col-3,
    .rplg-grid .rplg-col-2 {
        margin: 0 4px 8px 4px!important;
        width: calc(50% - 8px)!important;
    }
}

@media (max-width: 479px) {
    .rplg-grid .rplg-col-12 {
        margin: 0 4px 8px 4px!important;
        width: calc(100% - 12px)!important;
    }

    .rplg-grid .rplg-col-6,
    .rplg-grid .rplg-col-4,
    .rplg-grid .rplg-col-3,
    .rplg-grid .rplg-col-2 {
        margin: 0 4px 8px 4px!important;
        width: calc(100% - 8px)!important;
    }
}

.rplg-grid .rplg-box {
    padding: 20px!important;
}

.rplg-grid .rplg-biz-name {
    padding-right: 10px!important;
}

.rplg-grid .rplg-review-name {
    line-height: 18px!important;
    padding-right: 10px !important;
}

.rplg-grid .rplg-stars {
    white-space: nowrap!important;
}

.rplg-grid .rplg-review-time {
    margin: 2px 0 0!important;
    line-height: 18px!important;
}

.rplg-grid .rplg-box-content {
    margin: 10px 0 0!important;
}

/*-------------------------------- biz header --------------------------------*/
.rplg .rplg-biz-name {
    color: #333!important;
    font-size: 15px!important;
    font-weight: 600!important;
    /*line-height: 18px!important;*/
}

.rplg .rplg-biz-name a {
    text-decoration: none!important;
}

.rplg .rplg-biz-rating.rplg-trim {
    overflow: visible!important
}

.rplg .rplg-biz-rating .rplg-biz-score {
    display: inline-block!important;
    color: #0caa41!important;
    font-size: 18px!important;
    font-weight: 600!important;
    margin: 0 8px 0 0!important;
    /*min-width: 28px !important;*/
    vertical-align: middle!important;
}

.rplg .rplg-biz-rating.rplg-biz-google .rplg-biz-score {
    color: #fb8e28!important;
}

.rplg .rplg-biz-rating.rplg-biz-facebook .rplg-biz-score {
    color: #3c5b9b!important;
}

.rplg .rplg-biz-rating.rplg-biz-yelp .rplg-biz-score {
    color: #d32323!important;
}

.rplg .rplg-biz-based {
    display: block!important;
    color: #777!important;
    font-size: 14px!important;
    /*font-weight: 600!important;*/
    text-align: left !important;
    /*line-height: 18px!important;*/
    text-shadow: 1px 1px 0 #fff!important;
}

.rplg .rplg-dark .rplg-biz-based {
    color: #ccc!important;
    text-shadow: none!important;
}

.rplg .rplg-biz-based .rplg-social-logo svg {
    display: inline-block!important;
    margin: 0 4px!important;
    vertical-align: middle!important;
}

.rplg .rplg-biz-based .rplg-biz-based-text {
    vertical-align: middle!important;
}

/*-------------------------------- badge --------------------------------*/
.rplg-badge-cnt {
    display: inline-flex;
    gap: 16px!important;
    flex-wrap: wrap!important;
}

.rplg-badge-cnt.rplg-badge-center {
    text-align: center !important;
}

.rplg .rplg-badge-fixed {
    position: fixed!important;
    right: 30px!important;
    bottom: 30px!important;
    max-width: none!important;
    z-index: 2147482999!important;
    flex-flow: column!important;
}

.rplg .rplg-badge_left-fixed {
    position: fixed!important;
    left: 30px!important;
    bottom: 30px!important;
    max-width: none!important;
    z-index: 2147482999!important;
    flex-flow: column!important;
}

.rplg .rplg-badge {
    display: inline-block;
    margin: 0 10px 10px 0!important;
    border-left: 6px solid #0caa41!important;
    box-shadow: 2px 3px 10px rgba(0,0,0,0.12)!important;
}

.rplg-badge-fixed .rplg-badge,
.rplg-badge_left-fixed .rplg-badge {
    display: block;
}

.rplg-badge[data-provider="google"] {
    border-left-color: #fb8e28!important;
}

.rplg-badge[data-provider="facebook"] {
    border-left-color: #3c5b9b!important;
}

.rplg-badge[data-provider="yelp"] {
    border-left-color: #d32323!important;
}

.rplg-badge.rplg-badge-block {
    display: block;
}

.rplg-badge.rplg-badge-clickable {
    cursor: pointer !important;
}

.rplg-badge.rplg-badge-clickable:hover .rplg-badge-btn {
    background-color: #f9f9f9!important;
}

.rplg-badge .rplg-badge-btn {
    width: 270px!important;
    position: relative!important;
    padding: 10px 24px 10px 10px!important;
    background: #fff!important;
    transition: all .2s ease-in-out!important;
}

.rplg-badge.rplg-badge-block .rplg-badge-btn {
    width: auto!important;
}

.rplg-badge .rplg-badge-menu {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    margin: 0!important;
    padding: 8px!important;
    cursor: pointer!important;
    border: none!important;
    background-color: transparent!important;
    box-shadow: none!important;
    outline: none!important;
}

.rplg-badge .rplg-badge-menu svg {
    width: 20px!important;
    height: 20px!important;
}

.rplg-badge .rplg-badge-menu svg circle {
    fill: #999!important;
    transition: all .2s ease-in-out!important;
}

.rplg-badge .rplg-badge-menu:hover svg circle {
    fill: #555!important;
}

.rplg-badge .rplg-badge-actions {
    position: absolute!important;
    right: 5px!important;
    top: 33px!important;
    background: none repeat scroll 0 0 #fff!important;
    border: 1px solid #ccc!important;
    border-radius: 3px!important;
    -webkit-border-radius: 3px!important;
    -moz-border-radius: 3px!important;
    list-style-type: none!important;
    margin: 3px 0 0 0!important;
    padding: 0!important;
    z-index: 999999!important;
    text-align: left!important;
    box-shadow: 0 1px 6px rgba(0,0,0,.15)!important;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15)!important;
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15)!important;
}

.rplg-badge .rplg-badge-actions .rplg-links a {
    display: block!important;
    margin: 0!important;
    padding: 1px 5px!important;
}

.rplg-badge .rplg-badge-actions .rplg-links a:hover {
    background: #ccc!important;
}

.rplg-badge .rplg-row {
    margin: 0!important;
    padding: 0!important;
}

.rplg-badge .rplg-badge-logo {
    margin: 0 10px 0 0!important;
}

.rplg-badge .rplg-badge-logo .rplg-review-avatar {
    display: inline-block!important;
    width: 50px!important;
    height: 50px!important;
    margin-right: 0!important;
    border-radius: 50%!important;
    box-shadow: none!important;
}

.rplg-badge .rplg-badge-logo > svg {
    width: 50px!important;
    height: 50px!important;
    vertical-align: middle!important;
}

.rplg-badge[data-provider="facebook"] .rplg-badge-logo > svg {
    padding: 4px!important;
    border-radius: 50%!important;
    background-color: #3c5b9b!important;
}

@media(max-width: 768px) {
    .rplg .rplg-flash.rplg-flash-hide,
    .rplg-badge-cnt.rplg-badge-fixed.rplg-badge-hide,
    .rplg-badge-cnt.rplg-badge_left-fixed.rplg-badge-hide {
        display: none!important;
    }
}

.rplg .rplg-badge .rplg-social-logo svg {
    width: 16px!important;
    height: 16px!important;
}

.rplg .rplg-badge .rplg-social-logo.rplg-facebook-logo svg {
    width: 12px!important;
    height: 12px!important;
}

.rplg-badge .rplg-social-logo {
    position: absolute!important;
    right: 6px!important;
}

.rplg-badge .rplg-social-logo.rplg-google-logo {
    top: 6px!important;
}

.rplg-badge .rplg-social-logo.rplg-facebook-logo {
    top: 27px!important;
}

.rplg-badge .rplg-social-logo.rplg-yelp-logo {
    top: 50px!important;
}

/*-------------------------------- badge 2 --------------------------------*/
.rplg .rplg-badge2 {
    display: inline-block;
    position: relative!important;
    text-align: left!important;
    border-radius: 2px!important;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)!important;
}

.rplg-badge-fixed .rplg-badge2,
.rplg-badge_left-fixed .rplg-badge2 {
    display: none;
}

.rplg-badge2.rplg-badge-block {
    display: block;
}

.rplg-badge2 .rplg-badge2-border {
    width: 100%!important;
    height: 6px!important;
    background: #4fce6a!important;
    border-radius: 2px 2px 0 0!important;
}

.rplg-badge2 .rplg-badge2-btn {
    display: flex!important;
    align-items: center!important;
    position: relative!important;
    padding: 10px!important;
    z-index: 999!important;
    color: #333!important;
    background: #fff!important;
    border-radius: 0 0 2px 2px!important;
    transition: all .2s ease-in-out!important;
}

.rplg-badge2 .rplg-badge2-btn.rplg-badge2-clickable {
    cursor: pointer!important;
}

.rplg-badge2 .rplg-badge2-btn.rplg-badge2-clickable:hover {
    background: #f3f3f5!important;
}

.rplg-badge2 .rplg-badge2-btn img {
    display: inline-block!important;
    width: 44px!important;
    height: 44px!important;
    max-width: none !important;
    margin: 0!important;
    box-shadow: none!important;
}

.rplg-badge2 .rplg-badge2-close {
    display: none;
    position: absolute!important;
    top: -12px!important;
    right: -18px!important;
    width: 16px!important;
    height: 16px !important;
    line-height: 16px!important;
    text-align: center!important;
    cursor: pointer!important;
    text-decoration: none!important;
    color: #555!important;
    font-size: 18px !important;
    font-family: Arial, sans-serif !important;
    border-radius: 50%!important;
    background-color: rgba(255, 255, 255, 0.5)!important;
}

.rplg-badge-cnt:hover .rplg-badge2-close {
    display: block;
}

.rplg-badge2 .rplg-badge2-close:hover {
    color: #333!important;
    background-color: rgba(255, 255, 255, 0.7)!important;
}

.rplg-badge2 svg {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle!important;
}

.rplg-badge2 .rplg-badge2-btn .rplg-badge-logo > svg {
    width: 44px!important;
    height: 44px!important;
}

.rplg-badge2[data-provider="facebook"] .rplg-badge-logo > svg {
    padding: 4px!important;
    border-radius: 50%!important;
    background-color: #3c5b9b!important;
}

.rplg-badge2 .rplg-badge2-score {
    display: inline-block;
    font-size: 14px!important;
    line-height: 20px!important;
    margin: 0 0 0 8px!important;
    vertical-align: middle!important;
}

.rplg .rplg-badge2 .rplg-biz-rating > div {
    font-size: 20px!important;
    font-weight: normal!important;
}

/*-------------------------------- form --------------------------------*/
.rplg .rplg-form {
    position: fixed!important;
    bottom: 0!important;
    right: 0!important;
    height: 100%!important;
    width: 368px!important;
    z-index: 2147483000!important
}

.rplg .rplg-form.rplg-form-left {
    left: 0!important;
}

@media(max-width: 460px) {
    .rplg .rplg-form {
        width:100%!important
    }
}

.rplg-form .rplg-form-head {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 80px!important;
    background: #fff!important;
    padding: 10px 16px!important;
    overflow: hidden!important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.12)!important;
    z-index: 2147483002!important;
    box-sizing: border-box!important;
}

.rplg-form .rplg-form-head-inner {
    z-index: 2147483000!important;
    position: absolute!important;
    left: 20px!important;
    top: 15px!important;
    width: 100%!important;
    height: 100%!important;
    padding: 0 40px 0 0!important;
}

.rplg-form .rplg-head-info .rplg-review-name {
    color: #000!important;
}

.rplg-form .rplg-form-close {
    position: relative;
    padding: 0!important;
    cursor: pointer!important;
    outline: 0!important;
    border: 0!important;
    background: 0 0!important;
    min-height: 0!important;
    width: auto!important;
    float: right!important;
    font-size: 32px!important;
    font-weight: 500!important;
    line-height: .6!important;
    color: #999!important;
    z-index: 2147483002!important;
    -webkit-appearance: none!important
}

.rplg-form .rplg-form-close:hover {
    color: #555!important
}

.rplg-form .rplg-form-body {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    background: rgba(250,250,251,.98)!important;
    border-left: 1px solid #dadee2!important;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.08)!important;
    z-index: 2147483000!important
}

.rplg-form .rplg-form-content {
    position: absolute!important;
    top: 0!important;
    right: 0!important;
    bottom: 0!important;
    width: 100%!important;
    overflow-y: auto!important;
    z-index: 2147483001!important;
    -webkit-transform: translateZ(0)!important
}

.rplg-form .rplg-form-content {
    top: 80px!important;
    bottom: 48px!important
}

.rplg-form .rplg-form-content-inner {
    position: relative!important;
    min-height: 100%!important;
    margin: 0 auto!important;
    padding: 15px 0 15px 20px!important
}

.rplg-form .rplg-list-review {
    position: relative!important;
}

.rplg-form .rplg-links {
    text-align: center!important;
}

.rplg-form .rplg-links a {
    padding: 2px 8px!important;
    background-color: #eee!important;
    border: 1px solid #dedede!important;
    text-shadow: 1px 1px 0 #f5f5f5!important;
    transition: all .2s ease-in-out!important;
}

.rplg-form .rplg-links a:hover {
    background-color: #dfdfdf!important;
}

.rplg-form .rplg-form-footer {
    position: absolute!important;
    bottom: 0!important;
    right: 0!important;
    width: 100%!important;
    height: 48px!important;
    text-align: center!important;
    z-index: 2147483002!important;
    background: #fff!important;
    box-shadow: 0 -1px 2px 0 rgba(0,0,0,.06)!important;
    -moz-text-align-last: center!important;
    text-align-last: center!important
}

.rplg-form .rplg-form-footer img {
    padding: 16px!important
}

.rplg-form .rplg-powered {
    color: #999!important;
    margin: 12px 0 0!important;
    font-size: 14px!important;
}

.rplg-form .rplg-facebook-powered span {
    color: #4080ff!important;
    font-weight: 700!important;
    font-size: 15px!important;
}

.rplg-form .rplg-yelp-logo {
    margin: 6px 0 0!important;
}

.rplg-form .rplg-yelp-logo img {
    float: none!important;
    width: 60px!important;
    padding: 0!important;
    vertical-align: bottom!important;
}

.rplg-form .rplg-review-avatar {
    width: 50px!important;
    height: 50px!important;
    box-shadow: none!important;
}

.rplg-form .rplg-review-name {
    font-size: 14px!important;
}

.rplg-form .rplg-form-review {
    margin-bottom: 15px!important;
}

.rplg .rplg-form[data-btn="1"] .rplg-form-head {
    height: 110px!important;
}

.rplg .rplg-form[data-btn="1"] .rplg-form-content {
    top: 110px!important;
}

/*-------------------------------- list2 --------------------------------*/
.rplg-list2 .rplg-social-ratings .rplg-row {
    margin: 0 0 10px!important;
}

.rplg-list2 .rplg-social-ratings .rplg-row:last-child {
    margin: 0!important;
}

.rplg-list2 .rplg-social-ratings .rplg-social-logo {
    display: block!important;
    width: 56px!important;
}

.rplg-list2 .rplg-social-logo svg {
    margin: 0 auto!important;
}

.rplg-list2 .rplg-social-rating {
    font-size: 1.1em!important;
    margin: 0 6px 0 0!important;
}

.rplg-list2 .rplg-google-rating {
    color: #fb8e28!important;
}

.rplg-list2 .rplg-facebook-rating {
    color: #4080ff!important;
}

.rplg-list2 .rplg-yelp-rating {
    color: #d32323!important;
}

.rplg-list2 .rplg-box-content {
    height: auto!important;
    margin: 10px 0 0!important;
}

.rplg-list2 .rplg-box {
    padding: 20px !important;
    margin-bottom: 15px!important;
}

.rplg-list2 .rplg-row:last-child {
    margin-bottom: 0!important;
}

.rplg-list2 .rplg-stars {
    display: inline-block!important;
    margin-right: 4px!important;
    /*vertical-align: middle !important;*/
}

.rplg-list2 .rplg-review-text {
    vertical-align: middle !important;
}

/*-------------------------------- list --------------------------------*/
.rplg-list .rplg-list-header {
    margin: 0 0 15px 0!important;
}

.rplg-list .rplg-list-header:last-child {
    margin: 0!important;
}

.rplg-list .rplg-list-reviews {
    position: relative!important;
    min-height: 100%!important;
    margin: 0 auto!important;
}

.rplg-list .rplg-list-review {
    margin: 0 0 15px!important;
}

.rplg-list .rplg-list-review:last-child {
    margin: 0!important;
}

.rplg-list .rplg-review-avatar {
    width: 50px!important;
    height: 50px!important;
    min-height: 50px!important;
    max-height: 50px!important;
}

.rplg-list .rplg-review-name {
    color: #427fed!important;
    font-size: 100%!important;
    font-weight: bold!important;
    padding-right: 6px!important;
    text-decoration: none!important;
    box-shadow: none!important;
}

.rplg-list .rplg-review-time {
    font-size: 13px!important;
    line-height: unset !important;
}

.rplg-list .rplg-review-count,
.rplg-list .rplg-google-powered,
.rplg-list .rplg-facebook-powered {
    margin: 6px 0 0!important;
    color: #999!important;
}

.rplg-list .rplg-facebook-powered span {
    color: #4080ff!important;
    font-weight: 700!important;
    font-size: 15px!important;
}

.rplg-list .rplg-review-text {
    color: #222!important;
    font-size: 13px!important;
    line-height: 18px!important;
    max-width: 100%!important;
    overflow: hidden!important;
    white-space: pre-line!important;
}

.rplg-list .rplg-review-badge {
    top: auto!important;
    bottom: -1px!important;
    right: 9px!important;
    background-color: #f5f5f5!important;
    border-radius: 50%!important;
}

.rplg-list .rplg-social-logo svg {
    display: block;
}

/*-------------------------------- dark --------------------------------*/
.rplg .rplg-dark .rplg-box {
    background-color: #333 !important;
}

.rplg .rplg-dark.rplg-slider .rplg-box:before {
    background-color: #333 !important;
}

.rplg .rplg-dark .rplg-biz-name a {
    color: #eee !important;
}

.rplg .rplg-dark .rplg-links a {
    color: #fff !important;
}

.rplg .rplg-dark .rplg-review-name {
    color: #eee !important
}

.rplg .rplg-dark .rplg-review-text {
    color: #fff !important;
}

.rplg .rplg-dark .rplg-review-time {
    color: #ccc !important;
}

.rplg .rplg-dark .rplg-powered {
    color: #999!important;
}

/*-------------------------------- rating template --------------------------------*/
.rplg .rplg-rating img,
.rplg .rplg-review img {
    display: inline-block!important
}

.rplg .rplg-rating-name,
.rplg .rplg-rating-info {
    vertical-align: middle!important
}

.rplg .rplg-rating-name {
    margin-right: 6px!important;
}

.rplg .rplg-rating-info {
    margin-left: 4px!important;
}

/*-------------------------------- flash --------------------------------*/
.rplg .rplg-flash-wrap {
    display: block !important;
    position: fixed !important;
    left: 0px !important;
    top: 100% !important;
    width: auto !important;
    font-size: 16px !important;
    z-index: 999999999999 !important;
}

.rplg .rplg-flash-wrap.rplg-flash-right {
    left: auto !important;
    right: 0px !important;
}

.rplg .rplg-flash-content {
    opacity: 0 !important;
    padding: 18px !important;
    -webkit-transform: translate(0px, 0%) !important;
    -ms-transform: translate(0px, 0%) !important;
    transform: translate(0px, 0%) !important;
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease !important;
    transition: opacity 300ms ease, -webkit-transform 300ms ease !important;
    transition: transform 300ms ease, opacity 300ms ease !important;
    transition: transform 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease !important;
}

.rplg .rplg-flash-content.rplg-flash-visible {
    opacity: 1 !important;
    -webkit-transform: translate(0px, -100%) !important;
    -ms-transform: translate(0px, -100%) !important;
    transform: translate(0px, -100%) !important;
    text-align: left !important;
}

.rplg .rplg-flash-content.rplg-flash-visible.rplg-flash-gout {
    opacity: .5 !important;
    -webkit-transition: opacity 150ms ease !important;
    transition: opacity 150ms ease !important;
    transition: opacity 150ms ease !important;
    transition: opacity 150ms ease !important;
}

.rplg .rplg-flash-card {
    position: relative !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    /*width: 325px !important;*/
    height: 400px !important;
    max-height: 82px !important;
    max-width: 100% !important;
    color: #8d8d8d !important;
    font-size: 12px !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    border-radius: 20px !important;
    background-color: #fff !important;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 20%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 2px 2px 0 rgb(0 0 0 / 14%) !important;
    -webkit-transition: max-height 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease !important;
    transition: max-height 300ms ease, opacity 300ms ease, -webkit-transform 300ms ease !important;
    transition: max-height 300ms ease, opacity 300ms ease, transform 300ms ease !important;
    transition: max-height 300ms ease, opacity 300ms ease, transform 300ms ease, -webkit-transform 300ms ease !important;
    cursor: pointer !important;
}

.rplg .rplg-flash-card:hover {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 8px 10px 1px rgb(0 0 0 / 14%) !important;
    opacity: 1 !important;
    -webkit-transform: translate(0px, -2px) !important;
    -ms-transform: translate(0px, -2px) !important;
    transform: translate(0px, -2px) !important;
}

.rplg .rplg-flash-card.rplg-flash-expanded {
    height: 400px !important;
    max-height: 400px !important;
}

.rplg .rplg-flash-x {
    position: absolute !important;
    top: 10px !important;
    right: -2px !important;
    z-index: 3 !important;
    width: 22px !important;
    height: 22px !important;
    opacity: 0.5 !important;
    border-radius: 20px !important;
    background-color: #fafafa !important;
    -webkit-transform: translate(0px, -30px) !important;
    -ms-transform: translate(0px, -30px) !important;
    transform: translate(0px, -30px) !important;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease !important;
    transition: opacity 200ms ease, -webkit-transform 200ms ease !important;
    transition: opacity 200ms ease, transform 200ms ease !important;
    transition: opacity 200ms ease, transform 200ms ease, -webkit-transform 200ms ease !important;
    color: #373737 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    text-align: center !important;
    cursor: pointer !important;
}

.rplg .rplg-flash-x {
    transform: translate(0, 0) !important;
    opacity: 0 !important;
}

.rplg .rplg-flash-content:hover .rplg-flash-x {
	transform: translate(0px, -10px) !important;
	opacity: 1 !important;
}

.rplg .rplg-flash-x svg {
    display: inline-block;
    width: 12px !important;
    height: 12px !important;
}

.rplg .rplg-flash-story {
    position: relative !important;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    z-index: 1 !important;
    width: 100% !important;
    height: 82px !important;
    opacity: 1 !important;
    padding: 8px 12px !important;
    -webkit-transition: opacity 200ms ease !important;
    transition: opacity 200ms ease !important;
}

.rplg .rplg-flash-expanded .rplg-flash-story {
    opacity: 0 !important;
}

.rplg .rplg-flash-img {
    width: 50px !important;
    height: 50px !important;
    padding: 4px !important;
    margin-right: 10px !important;
}

.rplg .rplg-flash-img svg {
    display: inline-block;
    width: auto;
    height: auto;
}

.rplg .rplg-flash-img .rplg-review-avatar {
    width: 50px!important;
    height: auto!important;
}

.rplg .rplg-flash-text,
.rplg .rplg-flash-stars {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #333 !important;
    font-size: 13px !important;
}

/*.rplg .rplg-flash-text span,
.rplg .rplg-flash-stars svg {
    vertical-align: middle !important;
}*/

.rplg .rplg-flash-stars .rplg-flash-star svg {
    display: inline-block;
    width: 14px !important;
    height: 14px !important;
}

.rplg .rplg-flash-stars .rplg-flash-star[data-provider="yelp"] svg {
    padding: 2px !important;
}

.rplg .rplg-flash-stars .rplg-flash-logo svg {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
}

.rplg .rplg-flash-stars .rplg-flash-logo[data-provider="facebook"] svg {
    padding: 2px!important;
    border-radius: 50%!important;
    background-color: #3c5b9b!important;
}

.rplg .rplg-flash-text .rplg-review-avatar {
    width: 16px!important;
    height: 16px!important;
    margin: 0 !important;
}

.rplg .rplg-flash-text .rplg-flash-name {
    color: #00a3ff !important;
    font-weight: 600 !important;
    max-width: 55px !important;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

.rplg .rplg-flash-footer {
    font-size: 11px !important;
    line-height: 20px !important;
    font-weight: 600 !important;
}

.rplg .rplg-flash-power {
    float: right;
    font-size: 11px !important;
    font-weight: 400 !important;
}

.rplg .rplg-flash-power svg {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 2px;
    vertical-align: middle;
}

.rplg .rplg-flash-power a {
    color: #8d8d8d !important;
    text-decoration: none;
}

.rplg .rplg-flash-power a span {
    font-weight: 600 !important;
    text-transform: capitalize !important;
}

.rplg .rplg-flash-power a span:hover {
    text-decoration: underline;
}

.rplg .rplg-flash-form {
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
    overflow: auto !important;
    width: 100% !important;
    max-height: 100% !important;
    border-radius: 20px !important;
    opacity: 0 !important;
    -webkit-transition: opacity 200ms ease !important;
    transition: opacity 200ms ease !important;
}

.rplg .rplg-flash-expanded .rplg-flash-form {
    z-index: 2 !important;
    opacity: 1 !important;
    overflow-y: auto !important;
}

.rplg .rplg-form-review.rplg-highlight {
    background: #f9f9f9;
}

.rplg .rplg-flash-form .rplg-list-review {
    padding: 10px 20px;
}

.rplg .rplg-flash-form .rplg-review-badge {
    top: auto !important;
    bottom: 0px !important;
    right: 6px!important;
}

/*-------------------------------- slider lite --------------------------------*/
.rplg .grw-slider {
    display: block!important;
    width: 100%!important;
    padding-bottom: 20px!important;
    text-align: left!important;
    direction: ltr!important;
    box-sizing: border-box!important;
}

.rplg .grw-slider .grw-row {
    display: -ms-flexbox!important;
    display: flex!important;
    flex-wrap: nowrap!important;
    align-items: center!important;
    -ms-flex-wrap: nowrap!important;
    -ms-flex-align: center!important;
}

.rplg .grw-slider .grw-row-xs {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.rplg .grw-row-xs .grw-slider-header,
.rplg .grw-row-xs .grw-slider-content,
.rplg .grw-row-xs .grw-slider-review {
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}

.rplg .grw-row-x .grw-slider-header,
.rplg .grw-row-x .grw-slider-header + .grw-slider-content,
.rplg .grw-row-x .grw-slider-review {
    -ms-flex: 0 0 50%!important;
    flex: 0 0 50%!important;
    max-width: 50%!important;
}
.rplg .grw-row-x .grw-slider-header + .grw-slider-content .grw-slider-review {
    -ms-flex: 0 0 100%!important;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}

.rplg .grw-row-s .grw-slider-header {
    -ms-flex: 0 0 33.333333%!important;
    flex: 0 0 33.333333%!important;
    max-width: 33.333333%!important;
}
.rplg .grw-row-s .grw-slider-header + .grw-slider-content {
    -ms-flex: 0 0 66.666666%!important;
    flex: 0 0 66.666666%!important;
    max-width: 66.666666%!important;
}
.rplg .grw-row-s .grw-slider-review {
    -ms-flex: 0 0 50%!important;
    flex: 0 0 50%!important;
    max-width: 50%!important;
}

.rplg .grw-row-m .grw-slider-header {
    -ms-flex: 0 0 25%!important;
    flex: 0 0 25%!important;
    max-width: 25%!important;
}
.rplg .grw-row-m .grw-slider-header + .grw-slider-content {
    -ms-flex: 0 0 75%!important;
    flex: 0 0 75%!important;
    max-width: 75%!important;
}
.rplg .grw-row-m .grw-slider-review {
    -ms-flex: 0 0 33.333333%!important;
    flex: 0 0 33.333333%!important;
    max-width: 33.333333%!important;
}

.rplg .grw-row-l .grw-slider-header {
    -ms-flex: 0 0 20%!important;
    flex: 0 0 20%!important;
    max-width: 20%!important;
}
.rplg .grw-row-l .grw-slider-header + .grw-slider-content {
    -ms-flex: 0 0 80%!important;
    flex: 0 0 80%!important;
    max-width: 80%!important;
}
.rplg .grw-row-l .grw-slider-review {
    -ms-flex: 0 0 25%!important;
    flex: 0 0 25%!important;
    max-width: 25%!important;
}

.rplg .grw-row-xl .grw-slider-header {
    -ms-flex: 0 0 16.666666%!important;
    flex: 0 0 16.666666%!important;
    max-width: 16.666666%!important;
}
.rplg .grw-row-xl .grw-slider-header + .grw-slider-content {
    -ms-flex: 0 0 83.333333%!important;
    flex: 0 0 83.333333%!important;
    max-width: 83.333333%!important;
}
.rplg .grw-row-xl .grw-slider-review {
    -ms-flex: 0 0 20%!important;
    flex: 0 0 20%!important;
    max-width: 20%!important;
}

.rplg .grw-slider .grw-slider-content {
    position: relative!important;
    min-width: 0!important;
}

.rplg .grw-slider .grw-slider-content-inner {
    position: relative!important;
}

.rplg .grw-slider .grw-slider-header-inner,
.rplg .grw-slider .grw-slider-review-inner {
    position: relative!important;
    margin: 0 10px!important;
    padding: 15px!important;
    width: 100%!important;
}

.rplg .grw-slider:not(.wp-dark) .grw-slider-review-inner.grw-slider-review-border {
    background: #fafafa!important;
    border-radius: 4px!important;
    box-shadow: 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24)!important;
}

.rplg .grw-slider .grw-slider-review-inner > svg {
    position: absolute!important;
    top: 10px!important;
    right: 10px!important;
    width: 18px!important;
    height: 18px!important;
}

.rplg .grw-slider .grw-slider-reviews {
    display: flex!important;
    display: -ms-flexbox!important;
    overflow: hidden!important;
    overflow-x: scroll!important;
    margin: 0 20px!important;
    padding: 10px 0 15px!important;
    flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    scroll-snap-type: x mandatory!important;
    scroll-behavior: smooth!important;
    -webkit-overflow-scrolling: touch!important;
    scrollbar-width: none;
}

.rplg .grw-slider .grw-slider-reviews::-webkit-scrollbar {
    display: none!important;
}

.rplg .grw-slider .grw-slider-review {
    display: flex!important;
    position: relative!important;
    justify-content: center!important;
    align-items: center!important;
    flex-shrink: 0!important;
    scroll-snap-align: start!important;
    transform-origin: center center!important;
    transform: scale(1)!important;
    transition: transform 0.5s!important;
}

.rplg .grw-slider .grw-slider-controls {
    position: absolute!important;
    top: 50%!important;
    width: 100%!important;
}

.rplg .grw-slider .grw-slider-btns {
    position: absolute!important;
    color: #ccc!important;
    height: 28px!important;
    width: 28px!important;
    font-size: 45px!important;
    line-height: 22px!important;
    text-align: center!important;
    cursor: pointer!important;
    border-radius: 50%!important;
    user-select: none!important;
    transition: all .2s ease-in-out!important;
}
.rplg .grw-slider .grw-slider-btns:hover {
    color: #999!important;
}
.rplg .grw-slider .grw-slider-btns.grw-slider-prev {
    left: 0px!important;
    margin-left: -3px!important;
}
.rplg .grw-slider .grw-slider-btns.grw-slider-next {
    right: 0px!important;
    margin-right: -3px!important;
}

.rplg .grw-slider .grw-slider-dots {
    position: absolute!important;
    left: 50%!important;
    transform: translate(-50%, 0)!important;
    text-align: center!important;
}
.rplg .grw-slider .grw-slider-dot.active,
.rplg .grw-slider .grw-slider-dot:hover {
    opacity: 1!important;
}
.rplg .grw-slider .grw-slider-dot {
    display: inline-block!important;
    width: 10px!important;
    height: 10px!important;
    margin: 3px!important;
    background: #cccccc!important;
    border-radius: 20px!important;
    cursor: pointer!important;
    opacity: 0.4!important;
    transition: all .2s ease-in-out!important;
}

/*-------------------------------- slider lite overrides --------------------------------*/
.rplg .grw-slider .rplg-row .rplg-row-right {
    width: 1px!important;
}

.rplg .grw-slider .rplg-box-content {
    height: 100px!important;
    overflow-y: auto!important;
}

.rplg .grw-slider .rplg-box-content::-webkit-scrollbar {
    width: 4px!important;
}

.rplg .grw-slider .rplg-box-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
    -webkit-border-radius: 4px!important;
    border-radius: 4px!important;
}

.rplg .grw-slider .rplg-box-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px!important;
    border-radius: 10px!important;
    background: #ccc!important;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)!important;
}

.rplg .grw-slider .rplg-box-content::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc!important;
}

.rplg .grw-slider-header .rplg-review-badge {
    top: auto!important;
    bottom: -10px!important;
    right: 10px!important;
}

.rplg .grw-slider-header .rplg-row-right {
    overflow: visible !important;
}

/*-------------------------------- review us on G btn --------------------------------*/
.rplg .wp-google-wr {
    margin: 15px auto 0 -15px!important;
}

.rplg .wp-google-wr a {
    color: #fff!important;
    padding: 6px 15px 10px!important;
    border-radius: 27px!important;
    background: #427fed!important;
    white-space: nowrap!important;
    text-shadow: 1px 1px 0 #888!important;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24)!important;
    user-select: none!important;
    transition: all .2s ease-in-out!important;
    text-decoration: none;
}

.rplg .wp-google-wr a:hover {
    background: #065fd4!important;
}

.rplg .wp-google-wr svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 1px;
    background: #fff;
    margin: 0 0 0 4px;
    border-radius: 50%;
    vertical-align: middle;
}

.rplg .wp-google-wr span[data-logo="facebook"] svg {
    background: #3c5b9b;
}

.rplg .rplg-form .rplg-row {
    -webkit-box-align: start!important;
    -webkit-align-items: start!important;
    -ms-flex-align: start!important;
    align-items: start!important;
}

.rplg .rplg-form .wp-google-wr {
    margin: 4px auto 6px!important;
}

.rplg .rplg-form .wp-google-wr a {
    color: #fff!important;
    font-size: 13px!important;
    padding: 3px 10px 6px!important;
}

.rplg .rplg-form .wp-google-wr a:first-child {
    margin-right: 10px!important;
}

.rplg .rplg-form .wp-google-wr svg {
    width: 17px;
    height: 17px;
}


































/****************************************************** new css *********************************************************/
/*.rplg .rplg-list2 .rplg-review {
    padding: 8px 0 !important;
}

.rplg .rplg-xxx .rplg-row-left {
    padding: 15px 8px 0 0 !important;
}

.rplg .rplg-zzz .rplg-row-left {
    margin-left: -28px;
}

.rplg .rplg-bbb .rplg-row {
    margin: 0 0 20px 15px;
}

.rplg .rplg-nnn .rplg-row {
    margin: 20px 0 0 15px;
}

.rplg .rplg-ccc .rplg-row,
.rplg .rplg-vvv .rplg-inner,
.rplg .rplg-zzz .rplg-row,
.rplg .rplg-xxx .rplg-row-right,
.rplg .rplg-bbb .rplg-box-content,
.rplg .rplg-nnn .rplg-box-content {
    display: block;
    position: relative;
    margin: 0 !important;
    padding: 15px !important;
    overflow: visible !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #ededed !important;
    border-radius: 4px !important;
    background: #fafafa !important;
}

.rplg .rplg-zzz .rplg-row {
    margin-left: 28px !important;
    padding-left: 0 !important;
}

.rplg .rplg-xxx .rplg-row-right:before,
.rplg .rplg-bbb .rplg-box-content:before,
.rplg .rplg-nnn .rplg-box-content:before {
    position: absolute;
    display: block;
    content: "";
    width: 14px;
    height: 14px;
    border: 1px solid #ededed;
    background-color: #fafafa;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rplg .rplg-xxx .rplg-row-right:before {
    top: 38px;
    left: -7px;
    border-top: none;
    border-right: none;
}

.rplg .rplg-bbb .rplg-box-content:before {
    top: -8px;
    left: 35px;
    border-bottom: none;
    border-right: none;
}

.rplg .rplg-nnn .rplg-box-content:before {
    bottom: -8px;
    left: 35px;
    border-top: none;
    border-left: none;
}

.rplg .rplg-cent .rplg-inner {
    text-align: center;
}

.rplg .rplg-cent.rplg-zzz .rplg-inner {
    margin-top: 28px !important;
    padding-top: 0 !important;
}

.rplg .rplg-cent.rplg-zzz .rplg-review-avatar {
    margin-top: -28px !important;
}

.rplg .rplg-cent.rplg-bbb .rplg-box-content:before {
    left: calc(50% - 8px);
}

.rplg .rplg-cent.rplg-bbb .rplg-box-content {
    margin: 15px 0 0 !important;
}

.rplg .rplg-cent.rplg-nnn .rplg-box-content:before {
    left: calc(50% - 14px);
}

.rplg .rplg-cent.rplg-nnn .rplg-box-content {
    margin: 0 0 20px !important;
}*/















/*.rplg .rplg-stars.rplg-stars-inline {
    display: inline-block;
}*/